@model List<OwnerSchedule>

@{
    ViewData["Title"] = "Owner Schedule List";
}

<div class="row">
    <div class="col-md-12">
        @*<h2 class="text-center mb-4 text-white">@ViewData["Title"]</h2>*@
        <h1 class="whiteText" style="text-align: center;">Owner Schedule List</h1>
        <table class="table table-hover table-responsive-lg rounded" id="ownerScheduleList">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center" class="text-white">Schedule Time</th>
                    <th scope="col" style="text-align: center" class="text-white">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td style="text-align: center">@item.dayOfWeek</td>*@
                        <td style="text-align: center; color:aliceblue">@item.startTime?.ToString("hh:mm tt") - @item.endTime?.ToString("hh:mm tt")</td>
                        <td style="text-align: center">
                            <a class="btn btn-secondary" asp-controller="OwnerSchedule" title="UpdateSchedule" asp-action="UpdateSchedule" asp-route-Id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" asp-controller="OwnerSchedule" title="DeleteSchedule" asp-action="DeleteSchedule" asp-route-Id="@item.Id">
                                <i class="fas fa-user-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
